/doom/config.el
/nixpkgs/result
*.swp
/readme.el
/.local/
*~
*/*/.stack-work
/url/
/transient
/test-results.txt
/eshell/history
/elpa/
/testdata/simple-haskell-project/.direnv/
/projectile.cache
/savehist
/tramp
/projectile-bookmarks.eld
/projects
/recentf
/ido.last
/.org-id-locations
/.lsp-session-v1
/testdata/test-results.txt
/testdata/haskell-nix-stack-workflow/dist-newstyle/
/testdata/haskell-nix-stack-workflow/app/#Main.hs#
/testdata/haskell-nix-stack-workflow/.direnv/
/testdata/#loremipsum.txt#
